body{
  background-color: #008B8B;
  background-image: url("assets/corazon.png");
}
svg{
  position: absolute;
  background-color: #00CED1;
   z-index: 5;  top: 10em; left: 35em;
}
button{
  position: absolute;
  z-index: 3; top: 5em; left: 50em;
}
